---
import Welcome from "../components/Welcome.astro";
import PatternWelcome from "../components/PatternWelcome.astro";
import ProjectScreen from "../components/ProjectScreen.astro";
import Domains from "../components/Domains.astro";
import DomainsPhone from "../phoneComponents/Domains_Phone.astro";
import Layout from "../layouts/Layout.astro";
import Pattern from "./pattern.astro";
import Gallery from "../components/Gallery.astro";
import BoardMemberCardSingular from "../components/BoardMemberCardSingular.astro";
import Board from "./Board.astro";
import "../styles/globals.css";
import PartnerCasetteSingular from "../components/PartnerCasetteSingular.astro";
import Partners from "./Partners.astro";
import AcmWMotto from "../components/AcmWMotto.astro";
import AcmWContent from "../components/AcmWContent.astro";
import { projectsData } from "../data/projectsData.ts";
import Events from "../components/Events.astro";
import ContactUS from "../components/ContactUS.astro";
import Hero from "../components/hero.astro";
import Footer from "../components/Footer.astro";
// import Hero from "./hero.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Hero />
	<PatternWelcome />
	<Welcome />
	<ProjectScreen projectData={projectsData[0]} />
	<div class="domains-desktop-container">
  		<Domains />
	</div>
	<div class="domains-mobile-container">
		<DomainsPhone />
	</div>
	<Board />
	<Gallery />
	<Partners /> 
	<AcmWMotto />
	<AcmWContent />
	<ContactUS />
	<Footer />
	<!-- <Events /> -->
</Layout>

<style>
	/* Show desktop version by default, hide mobile */
	.domains-desktop-container {
		display: block;
	}
	
	.domains-mobile-container {
		display: none;
	}
	
	/* On mobile screens, hide desktop and show mobile */
	@media (max-width: 768px) {
		.domains-desktop-container {
			display: none;
		}
		
		.domains-mobile-container {
			display: block;
		}
	}
</style>


</Layout>
