---
import PartnerCasetteSingular from "../components/PartnerCasetteSingular.astro";

interface Partner {
    title: string;
    imageUrl: string;
    link: string;
}

const partners: Partner[] = [
    {
        title: "Partner 1",
        imageUrl: "/github-icon.svg",
        link: "/partners/1",
    },
    {
        title: "Partner 2",
        imageUrl: "/github-icon.svg",
        link: "/partners/2",
    },
    {
        title: "Partner 3",
        imageUrl: "/github-icon.svg",
        link: "/partners/3",
    },
    {
        title: "Partner 4",
        imageUrl: "/github-icon.svg",
        link: "/partners/4",
    },
    {
        title: "Partner 5",
        imageUrl: "/github-icon.svg",
        link: "/partners/5",
    },
    {
        title: "Partner 6",
        imageUrl: "/github-icon.svg",
        link: "/partners/6",
    },
    {
        title: "Partner 1",
        imageUrl: "/github-icon.svg",
        link: "/partners/1",
    },
    {
        title: "Partner 2",
        imageUrl: "/github-icon.svg",
        link: "/partners/2",
    },
    {
        title: "Partner 3",
        imageUrl: "/github-icon.svg",
        link: "/partners/3",
    },
    {
        title: "Partner 3",
        imageUrl: "/github-icon.svg",
        link: "/partners/3",
    },
    {
        title: "Partner 3",
        imageUrl: "/github-icon.svg",
        link: "/partners/3",
    },
    {
        title: "Partner 3",
        imageUrl: "/github-icon.svg",
        link: "/partners/3",
    },
    {
        title: "Partner 3",
        imageUrl: "/github-icon.svg",
        link: "/partners/3",
    },
    {
        title: "Partner 3",
        imageUrl: "/github-icon.svg",
        link: "/partners/3",
    },
    {
        title: "Partner 3",
        imageUrl: "/github-icon.svg",
        link: "/partners/3",
    },
    {
        title: "Partner 3",
        imageUrl: "/github-icon.svg",
        link: "/partners/3",
    },
];
---

<div class="flex flex-wrap gap-6 justify-center items-center w-full pt-24">
    <div class="w-[80vw] flex flex-wrap gap-6 justify-center items-center">
        {
            partners.map((partner) => (
                <PartnerCasetteSingular
                    title={partner.title}
                    imageUrl={partner.imageUrl}
                    link={partner.link}
                />
            ))
        }
    </div>

    <div class="h-[17.5vh] bottom-0 self-end z-20 mt-10">
        <img
            src="/partners.svg"
            alt="Partners Footer Casette"
            class="h-full w-full object-contain"
        />
    </div>
</div>
